<article class="animated-carousel-card" data-module="cardCarousel" data-show-more-label="{{showMoreLabel}}"
     data-show-less-label="{{showLessLabel}}">
  {{#if image}}
    <div class="animated-carousel-card__image">
      {{#json image}}
        {{>picture}}
      {{/json}}
    </div>
  {{/if}}

  <div class="animated-carousel-card__content">
    {{#if subheader}}<p class="animated-carousel-card__subheader">{{subheader}}</p>{{/if}}
    <h3 class="animated-carousel-card__header">{{header}}</h3>
    <div class="animated-carousel-card__description rtf">
      {{{description}}}
    </div>
    {{#ifCond showMoreLabel "&&" showLessLabel}}
      <div class="animated-carousel-card__action">
        {{>@button label=showMoreLabel type="button" className="primary" style="outline" size="small"}}
      </div>
    {{/ifCond}}
  </div>
</article>
