<div class="carousel-content-card {{#unless image}} carousel-content-card--no-image {{/unless}}">
  <!-- Display this div if image exists-->
  <div class="carousel-content-card__image">
    <img src="{{image}}" alt="{{heading}}" />
  </div>
  <div class="carousel-content-card__wrapper">
    <h6 class="carousel-content-card__heading">{{heading}}</h6>
    {{#if copy}}
    <div class="carousel-content-card__copy">
      <div class="rtf">
        {{{copy}}}
      </div>
    </div>
    {{/if}}
    <a href={{cta}} class="carousel-content-card__cta">
      {{ctaLabel}}
      {{>svg name="arrow-right" viewBox="0 0 32 23" className="arror-right"}}
    </a>
  </div>
</div>
