<section class="search-results" data-module="search-results" data-search-query-key="{{searchQueryKey}}"
  data-sort-query-key="{{sortQueryKey}}" data-page-query-key="{{pageQueryKey}}" data-endpoint="{{endpoint}}"
  data-results-per-page="{{resultsPerPage}}" data-labels="{{labels}}" data-results-keys="{{resultsKeys}}"
  data-sort-options="{{sortOptions}}">
</section>