{{#*inline "accordion-tab"}}
  <div class="accordion__item">
    <button class="accordion__item-trigger" aria-expanded="{{#if expanded}}true{{else}}false{{/if}}">
      <h3 class="accordion__item-title">{{title}}</h3>
      <span class="accordion__item-icon">
        {{>svg name="minus" viewBox="0 0 14 2" className="accordion__item-icon-minus"}}
        {{>svg name="plus" viewBox="0 0 14 14" className="accordion__item-icon-plus"}}
    </span>
    </button>

    <div role="region" class="accordion__item-panel">
      <div class="accordion__item-content">
        <div class="rtf accordion__item-description">
          {{{content}}}
        </div>
      </div>
    </div>
  </div>
{{/inline}}

<div class="accordion" data-module="accordion">
  <div class="accordion__header">
    {{#if title}}<h2 class="accordion__title">{{title}}</h2>{{/if}}
    {{#if description}}<p class="accordion__description">{{{description}}}</p>{{/if}}
  </div>

  <div class="accordion__items">
    {{#json items}}
      {{#each this}}
        {{> accordion-tab}}
      {{/each}}
    {{/json}}
  </div>
</div>
