<div class="swiper-slide">
  <article class="testimonials-card{{#if photo}} testimonials-card--with-image{{/if}}">
    {{#if photo}}
    <img
      class="testimonials-card__photo"
      src="{{photo}}"
      height="80"
      width="80"
      alt="{{name}}"
      loading="lazy"
    />
    {{/if}}
    <h3 class="testimonials-card__name">
      {{name}}
    </h3>
    {{#if position}}
    <h4 class="testimonials-card__position">
      {{position}}
    </h4>
    {{/if}}
    <p class="testimonials-card__quote">
      {{quote}}
    </p>
  </article>
</div>