<div class="alert" data-id="{{id}}" data-module="alert" data-type="{{type}}" data-can-dismiss="true" data-expanded="false" data-cookie-name="reusable">
  <div class="container">
    <div class="alert__header">
      <h2 class="alert__heading">{{heading}}</h2>
      <button type="button" class="alert__toggle">
        <span class="alert__hide">{{hideButtonLabel}}</span>
        <span class="alert__show">{{showButtonLabel}}</span>
        {{>svg name="arrow-up" viewBox="0 0 320 320"}}
      </button>
      <button type="button" class="alert__close">
        {{closeButtonLabel}}
        {{>svg name="close" viewBox="0 0 320 320"  }}
      </button>
    </div>
    {{#if copy}}
    <div class="alert__content">
      <div class="rtf">{{{copy}}}</div>
    </div>
    {{/if}}
  </div>
</div>
<section class="alerts" data-module="alerts" data-endpoint="https://private-8bd5d4-reuselibraryalerts.apiary-mock.com/alerts" data-cookie-name="reusable">
</section>
