{{#*inline "media"}}
  <figure class="content-row__media">
    {{#if videoPlayer}}
    {{>@video videoPlayer=videoPlayer videoId=videoId background=image poster=poster autoplay="false"}}
    {{else}}
    {{#if image}}
      {{#json image}}{{>picture}}{{/json}}
    {{/if}}
    {{/if}}
  </figure>
{{/inline}}

{{#*inline "actions"}}
{{#ifCond buttonLabel "||" linkLabel}}
  <aside class="content-row__actions">
    {{#if buttonLabel}}
    {{>@button type="link" label=buttonLabel className="primary"}}
    {{/if}}
    {{#if linkLabel}}
    {{>@link label=linkLabel className="primary" icon="right"}}
    {{/if}}
  </aside>
{{/ifCond}}
{{/inline}}

<section class="content-row {{#unless fullWidth}}content-row--media-align-{{mediaAlign}}{{/unless}}
{{#if singleColumn}}content-row--single-column{{/if}}
{{#if fullWidth}}content-row--full-width{{/if}}"
aria-labelledby="contentRowHeadline"
>
  {{#if singleColumn}}
  <div class="content-row__content">
    <header>
      <h2 class="content-row__headline" id="contentRowHeadline">{{headline}}</h2>
      {{#if subhead}}<h3 class="content-row__subhead">{{subhead}}</h3>{{/if}}
    </header>
    {{#if description}}
    <div class="content-row__description rtf">
      {{{description}}}
    </div>
    {{/if}}
  </div>
  {{#if media}}
  {{>media}}
  {{/if}}
  {{>actions}}
  {{else}}
  {{#if media}}
  {{>media}}
  {{/if}}
  <div class="content-row__content">
    <header>
      <h2 class="content-row__headline" id="contentRowHeadline">{{headline}}</h2>
      {{#if subhead}}<h3 class="content-row__subhead">{{subhead}}</h3>{{/if}}
    </header>
    {{#if description}}
    <div class="content-row__description rtf">
      {{{description}}}
    </div>
    {{/if}}
    {{>actions}}
  </div>
  {{/if}}
</section>
